@import "./color.scss";

*{
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#navbar{
    background: $headerColor;
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        text-decoration: none;
        color:white;
        padding:15px;
        cursor: pointer;
    }
}   

#content{
    position: relative;
    height: 100%;
}

.textContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height:100%;
}

.mainHeading{
    text-align: center;
    color:$primaryTextColor;
    padding-top:30px;
}
.subHeading{
    text-align: center;
    color: $secondaryTextColor;
    padding-top: 5px;
}

.imageContainer{
    z-index: -2;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    overflow-x: hidden;

    img{
        width:100vw;
        height: auto;
    }
}

.darkOverview{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    z-index: -1;
    background-color: rgba(0,0,0,0.3);
}

body{
    background-color: $section1BackgroundImageColor;
    height:100vh;
    overflow: hidden;
}