*{
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$section1BackgroundImageColor : #fea78b;
$headerColor:#ff825a;
$primaryTextColor:#0c0c0cb8;
$secondaryTextColor:rgb(12 12 12 / 57%);

.navbar{
    background: $headerColor;
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        color:white;
        padding:15px;
    }
}   


.mainHeading{
    text-align: center;
    color:$primaryTextColor;
    padding-top:30px;
    background-color: $section1BackgroundImageColor;
}
.subHeading{
    text-align: center;
    color: $secondaryTextColor;
    padding-top: 5px;
}

.imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $section1BackgroundImageColor;
    height:500px;

    img{
        max-height: 100%;
        width:auto;
    }
}

body{
    background-color: $section1BackgroundImageColor;
}